body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #3d3d3d;
    font: 400 14px Montserrat, Arial sans-serif;
    line-height: 20px;
    -webkit-text-size-adjust: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
}

p {
    margin: 0 0 20px 0;
    padding: 0;
}

a {
    color: #4498ee;
    text-decoration: none;
    outline: none;
}